/*顶部导航 star*/
.zyh_topnavbox{
	width: 100%;
	height:36px;
	background: #0D0D0D;
}
.zyh_topnav{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.zyh_topnavleft{
	width: auto;
	height: 100%;
	float: left;
}
.zyh_topnavleft .zyh_topnavleftdian{
	line-height: 36px;
	color:#FF6E27;
	font-size: 12px;
}
.zyh_topnavleft .zyh_topnavleftzi{
	font-size: 12px;
	line-height: 36px;
	text-align:right;
	color: #6B6B6B;
}
.zyh_topnavright{
	float: right;
	width: auto;
	height: 100%;
	line-height: 36px;
}
.zyh_topnavright li{
	float: left;
	width: 94px;
	height: 100%;
}
.zyh_topnavright li img{
	vertical-align: middle;
}
.zyh_topnavright li a{
	font-size: 12px;
	color: #6B6B6B;
	margin-left: 6px;

}
/*顶部导航 end*/
/*banner导航 star*/
.zyh_bannernavbox{
	width: 100%;
	height: 103px;
	background-image:url(../images/nav.png) 
}
.zyh_bannernav{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
}
.zyh_bannernav .zyh_logo{
	width:auto;
	height:auto;
	float: left;
	margin-top: 26px;
}
.zyh_bannernavright{
	float: right;
	width: auto;
	height: 100%;
}
.zyh_bannernavright li{
	float: left;
	width: 87px;
	height: 100px;
}
.zyh_bannernavright li a{
	display: none;
}
.zyh_bannernavright .zyh_nav1{
	background-image:url(../images/11.png); 
}
.zyh_bannernavright .zyh_nav2{
	background-image:url(../images/22.png); 
}
.zyh_bannernavright .zyh_nav3{
	background-image:url(../images/33.png); 
}
.zyh_bannernavright .zyh_nav4{
	background-image:url(../images/44.png); 
}
.zyh_bannernavright .zyh_nav5{
	background-image:url(../images/55.png); 
}
.zyh_bannernavright .zyh_nav6{
	background-image:url(../images/66.png); 
}
.zyh_bannernavright .zyh_nav7{
	background-image:url(../images/77.png); 
}
/*banner导航 end*/
/*banner star*/
.zyh_bannerbox{
	width: 100%;
	height: 354px;
	background-image: url(../images/banner.png);
}
.zyh_banner{
	width: 1015px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.zyh_bannerimgs{
	width: 1015px;
	height: 339px;
	background: yellow;
	position: relative;
}
.zyh_bannerimgs li{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	opacity: 0;
}
.zyh_bannertiao{
	width: 1015px;
	height: 29px;
	background: #F3640E;
	position: absolute;
	left:0;
	bottom:0;
}
.zyh_bannercircle{
	width: 60px;
	height: 29px;
	position: absolute;
	left:480px;
	bottom:0;
}
.zyh_bannercircle li{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	cursor:pointer;
}
.zyh_bannercircle li:hover{
	width: 8px;
	height:8px;
	border-radius: 50%;
	margin-right:7px;
	cursor:pointer;
}
.zyh_bannerimgs .zyh_bannerimgsxianshi{
	opacity: 1;
}
/*banner end*/
/*body star*/
.zyh_bodybox{
	width: 100%;
	height: 255px;
	background: #1A1A1A;
	padding-top: 20px;
	margin:0 auto;
}
.zyh_bodybox .zyh_body{
	width: 1015px;
	height: 254px;
	margin:0 auto;
	background-image:url(../images/body.png); 
}
.zyh_bodybox .zyh_body ul{
	width: 100%;
	height: 170px;
	margin-top: 60px;
	float: left;
}
.zyh_bodybox .zyh_body ul li{
	width:314px;
	height: 172px;
	float: left;
	margin-left: 20px;
	position: relative;
}
.zyh_bodybox .zyh_body ul li img{
	position: absolute;
	left: 0;
	top:0;
}
.zyh_bodybox .zyh_body ul li a{
	display: none;
}
/*body end*/
/*foot star*/
.zyh_footbox{
	width: 100%;
	height: 85px;
	border-top: 1px solid #262626;
	background: #0A0A0A;
}
.zyh_foot{
	width: 1015px;
	height: 64px;
	margin: 0 auto;
	margin-top: 10px;
}
.zyh_footleft{
	width: auto;
	height: 100%;
	float: left;
}
.zyh_footcenter{
	width: 594px;
	height: 100%;
	float: left;
	margin-left: 40px;
}
.zyh_footcenter ul{
	width:100%;
	height: 24px;
	margin-top: 4px;
}
.zyh_footcenter .zyh_footcentertop li{
	font-size: 12px;
	float: left;
	margin-right:6px;
}
.zyh_footcenter .zyh_footcenterbottom li{
	font-size: 12px;
	float: left;
	margin-right:14px;
}
.zyh_footcenter .zyh_footcentertop li a,.zyh_footcenter .zyh_footcentertop li span,.zyh_footcenter .zyh_footcenterbottom li a,.zyh_footcenter .zyh_footcenterbottom li span{
	color: #666666;
}
.zyh_footright{
	width: auto;
	height: 100%;
	float: left;
	margin-left: 30px;
}
/*foot end*/
body{
	background: #1A1A1A;
}